.userModifyModal {
  .ant-modal-content {
    width: 350px;
  }

  .wrapper {
    margin: 20px 0;
  }

  .form-item {
    margin: 12px;

    label {
      width: 60px;

      &::before {
        content: '*';
        color: #f00;
      }
    }

    input {
      width: 220px;
    }
  }

}